* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {

    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #4c4e4e  0%, #fc00ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.container {

    background-color: #f0e7e7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {

    background-color: #eee;
    padding: 20px;
   
}
.form {
    padding: 20px;
}


.form-control input {

    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 8px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

#btn{
     
    background-color: #00BFFF;
    border: 2px solid #00BFFF;
    color: #fff;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}